body {
    padding-top: 4rem;
}

.brand-img {
    border: 1px solid grey;
    border-radius: 12%;
    margin-top: -2px;
    margin-right: 5px;
    margin-bottom: 3px;
    height: 25px;
}

.navbar-toggler {
    border: none;
    padding-right: 1.5rem;
}

.navbar-toggler-icon {
    padding: 0px;
    margin: 0px;
}

.navbar-brand {
    font-size: 120%;
    padding-right: 1rem;
    margin-top: 0.2rem;
}

#main-content {
    padding-top: 1rem;
}

#msg-alert-box {
    position: fixed;
    left: 0;
    right: 0;
    top: 4rem;
    z-index: 999999;
    padding: 0px 5px;
}

.footer {
    margin-top: 10em;
    text-align: center;
}